body{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
}

.header{ 
    background-color: #064c67;
    color: white;
    font-weight: bolder;
    padding-bottom: 20px;
}

.navbar{
    margin: 0;
    background-color: #5ba0ba;
}

.navbar img{
    height: 80px ;
    margin-left: 30px;
}

.navegation{
    padding: 0;
    font-size: 18px;
    margin-right: 20px;
}

.navegation a, li{
    list-style: none;
    display: inline;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.navegation a:hover li:hover{
    color: #5ba0ba;
    background-color: white;
    border-radius: 20px;
}

.image-name img{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    border: 10px;
    border-style: solid;
    border-color:  white;
}

.image-name p, h1{
    margin-top: 50px;
    text-align: center;
}

.image-name h1{
    margin-bottom: 0;
}

.texts{
    text-align: justify;
    background-color: #5ba0ba;
    padding-top: 50px;
    color: white;
}

.texts h2{
    text-align: center;
}

.section1{
    margin: 0 25%;
    font-weight: bolder;
    background-color: #064c67;
    border-radius: 20px;
    padding: 30px 0;
}

.section2, .section3{
    margin: 50px 25%;
    font-weight: bolder;
    background-color: #064c67;
    border-radius: 20px;
    padding: 30px 0;    
}

.article p{
    margin: 30px;
}

.footer{
    text-align: center;
    background-color: #5ba0ba;
}

.footer p{
    margin: 0;
    color: white;
    font-weight: bolder;
}